<h2>Crear Customers</h2>

<div class="container">
    <form>
    <div class="mb-3">
        <label for="firstName" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="firstName" >
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastName" >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="email" >
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>