<h2>Crear Customers</h2>

<div class="container">
    <form>
    <div class="mb-3">
        <label for="firstName" class="form-label">Nombres</label>
        <input [(ngModel)]="firstName" type="text" class="form-control" id="firstName" name="firstName" >
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Apellidos</label>
        <input [(ngModel)]="lastName" type="text" class="form-control" id="lastName" name="lastName" >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input [(ngModel)]="email" type="text" class="form-control" id="email" name="email" >
    </div>
    <button type="submit" class="btn btn-primary" (click)="addCustomer()" >Crear</button>
    </form>
</div>